.category_card {
  display: flex;
  flex-direction: column;
  width: 318px;
  img {
    width: 318px;
    height: 350px;
    object-fit: cover;
  }
  p {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 1180px) {
  .category_card {
    width: 218px;
    img {
      width: 218px;
      height: 220px;
    }
  }
}

@media (max-width: 950px) {
  .category_card {
    width: 188px;
    img {
      width: 188px;
      height: 180px;
    }
  }
}

@media (max-width: 480px) {
  .category_card {
    width: 118px;
    img {
      width: 118px;
      height: 110px;
    }
  }
}
