.category_card {
  display: flex;
  flex-direction: column;
  width: 318px;
  img {
    width: 318px;
    height: 350px;
    object-fit: cover;
  }
  p {
    text-align: center;
    margin-top: 7px;
    font-size: 18px;
    font-weight: 500;
  }
}
