@font-face {
  font-family: "Monserat-SemiBold";
  src: url("../../assets/fonts/Montserrat-SemiBold.ttf");
}
$backgorund-color: rgb(147, 234, 234);

.sale {
  position: relative;
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $backgorund-color;
  height: 600px;
  color: white;
  h1 {
    font-family: "Monserat-Semibold";
    font-size: 80px;
    letter-spacing: 2px;
    padding-bottom: 12px;
  }
  h2 {
    font-family: "Monserat-Semibold";
    font-size: 61px;
    letter-spacing: 2px;
    padding-bottom: 12px;
  }
  a button {
    font-family: "Monserat-Semibold";
    margin: 16px 16px 16px 0;
    background-color: white;
    border: 2px solid white;
    border-radius: 12.5px;
    color: black;
    padding: 0 50px;
    height: 81px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
  }
  a:nth-child(2) button {
    background-color: $backgorund-color;
    color: white;
  }
  img {
    position: absolute;
    right: 0;
    height: 100%;
  }
}

@media (max-width: 1180px) {
  .sale {
    height: 550px;
    a:nth-child(1) {
      display: none;
    }
    a:nth-child(2) button {
      padding: 0;
      font-size: 20px;
      letter-spacing: 0.8px;
      height: 55px;
      width: 190px;
      background-color: white;
      color: black;
    }
    h1 {
      font-size: 55px;
    }
    h2 {
      font-size: 32px;
    }
    img {
      height: 95%;
    }
  }
}

@media (max-width: 830px) {
  .sale {
    height: 450px;
  }
}

@media (max-width: 480px) {
  .sale {
    padding: 32px;
    height: 232px;
    a:nth-child(2) button {
      font-size: 15px;
      height: 41px;
      width: 142px;
      letter-spacing: 0.7px;
      border-radius: 8px;
    }
    h1 {
      font-size: 32px;
      letter-spacing: 1.1px;
    }
    h2 {
      font-size: 22px;
      letter-spacing: 1.1px;
    }
    img {
      height: 90%;
    }
  }
}
