@font-face {
  font-family: "Monserat-SemiBold";
  src: url("../../assets/fonts/Montserrat-SemiBold.ttf");
}
$backgorund-color: rgb(147, 234, 234);

.sale {
  position: relative;
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $backgorund-color;
  height: 600px;
  color: white;
  h1 {
    font-family: "Monserat-Semibold";
    font-size: 80px;
    letter-spacing: 2px;
    padding-bottom: 12px;
  }
  h2 {
    font-family: "Monserat-Semibold";
    font-size: 61px;
    letter-spacing: 2px;
    padding-bottom: 12px;
  }
  a button {
    font-family: "Monserat-Semibold";
    margin: 16px 16px 16px 0;
    background-color: white;
    border: 2px solid white;
    border-radius: 12.5px;
    color: black;
    padding: 0 50px;
    height: 81px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
  }
  a:nth-child(2) button {
    background-color: $backgorund-color;
    color: white;
  }
  img {
    position: absolute;
    right: 0;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .sale {
    display: none;
    padding: 12px;
    height: 300px;

    div {
      display: flex;
      flex-direction: column;
    }
    a button {
      padding: 0 5px;
      height: 41px;
      font-size: 16px;
    }
    h1 {
      font-size: 22px;
      letter-spacing: 2px;
    }
    h2 {
      font-size: 18px;
    }
    img {
      position: absolute;
      right: 0;
      height: 80%;
    }
    button {
      width: 110px;
      height: 32px;
      font-size: 14px;
    }
  }
}
