.product_card {
  position: relative;
  margin-top: 18px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 318px;

  &:hover .add_button {
    opacity: 1;
    transition: opacity 0.2s;
  }
  .add_button {
    opacity: 0;
    position: absolute;
    top: 225px;
    color: green;
    border: 2px solid green;
    background-color: rgb(206, 246, 206);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    padding: 12px;
    width: 100%;
    z-index: 5;
  }

  img {
    width: 318px;
    height: 267px;
    object-fit: cover;
  }

  .price_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 18px 0 12px;
    font-size: 18px;
    span:nth-child(1) {
      font-size: 20px;
      font-weight: 500;
    }
    span:nth-child(2) {
      text-decoration: line-through;
    }
    span:nth-child(3) {
      color: red;
    }
  }
}

@media (max-width: 480px) {
  .product_card {
    width: 160px;

    img {
      width: 140px;
      height: 120px;
    }
  }
}
