.product_card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 180px;

  &:hover .add_button {
    opacity: 1;
    transition: opacity 0.2s;
  }
  .add_button {
    opacity: 0;
    position: absolute;
    top: 136px;
    color: green;
    border: 2px solid green;
    background-color: rgb(206, 246, 206);
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    z-index: 5;
  }

  img {
    width: 180px;
    // height: 180px;
    object-fit: cover;
  }

  .price_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 18px 0 12px;
    font-size: 18px;
    span:nth-child(1) {
      font-size: 20px;
      font-weight: 500;
    }
    span:nth-child(2) {
      text-decoration: line-through;
    }
    span:nth-child(3) {
      color: red;
    }
  }
}
