@font-face {
  font-family: "Monserat-Medium";
  src: url("../../assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Monserat";
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
}

$base-color: #28a22a;

.wrapper {
  display: flex;
  justify-content: center;
}

.product_descr {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 32px;
  letter-spacing: 1.5px;

  .title {
    font-size: 32px;
    margin: 20px 0;
    text-transform: capitalize;
    text-align: center;
  }

  img {
    width: 826px;
    height: 717px;
    object-fit: contain;
    padding: 0 58px;
  }

  .product_info {
    padding-top: 80px;
    margin-left: 26px;
  }

  .price_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    span:nth-child(1) {
      font-size: 70px;
      font-weight: 500;
    }
    span:nth-child(2) {
      text-decoration: line-through;
      font-size: 22px;
    }
    span:nth-child(3) {
      color: red;
      font-size: 28px;
    }
  }
  .price_info2 {
    justify-content: center;
  }

  .add_button {
    border: 2px solid $base-color;
    color: white;
    background-color: $base-color;
    border-radius: 10px;
    font-size: 28px;
    width: 340px;
    height: 88px;
    cursor: pointer;
    margin: 52px 0 40px;
  }

  .add_button:hover {
    transform: scale(1.01);
  }

  .description {
    padding-top: 20px;
    letter-spacing: 1px;
    font-size: 20px;
    background-image: linear-gradient(
      to right,
      rgb(191, 190, 190) 30%,
      rgba(255, 255, 255, 0) 0%
    );
    background-size: 20px 2px;
    background-repeat: repeat-x;
    h3 {
      padding: 20px 0;
      font-family: "Monserat-Medium";
      font-weight: bold;
    }
    p {
      font-family: "Monserat";
    }
  }
}
@media (max-width: 1180px) {
  .product_descr {
    flex-direction: column;
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    img {
      width: 500px;
      height: 450px;
    }
    .product_info {
      padding-top: 10px;
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .price_info {
      width: 70%;
      justify-content: space-between;
      span:nth-child(1) {
        font-size: 40px;
      }
      span:nth-child(2) {
        font-size: 22px;
      }
      span:nth-child(3) {
        font-size: 28px;
      }
    }
    .add_button {
      border: 2px solid $base-color;
      color: white;
      background-color: $base-color;
      border-radius: 10px;
      font-size: 22px;
      width: 170px;
      height: 58px;
      margin: 24px 0 40px;
    }
    .description {
      padding-top: 20px;
      letter-spacing: 1px;
      font-size: 17px;
      background-size: 12px 2px;
      h3 {
        font-size: 20px;
        padding: 12px 0;
      }
      p {
        font-family: "Monserat";
      }
    }
  }
}

@media (max-width: 768px) {
  .product_descr img {
    width: 420px;
    height: 380px;
  }
}

@media (max-width: 480px) {
  .product_descr img {
    width: 350px;
    height: 350px;
  }
}
