.promotions {
  padding: 32px;
  letter-spacing: 1px;
}

.promotions_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 480px) {
  .promotions_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
