// .contacts {
//   margin: 1500px 0;
// }
.main_page {
  .sale {
    position: relative;
    padding: 24px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(147, 234, 234);
    height: 400px;
    color: white;
    button {
      margin: 16px 16px 16px 0;
      background-color: white;
      border: none;
      border-radius: 5px;
      color: black;
      width: 118px;
      height: 36px;
      cursor: pointer;
    }
    img {
      position: absolute;
      right: 0;
      height: 100%;
    }
  }

  .categories {
    padding: 18px;
    button {
      margin-left: 12px;
      background-color: white;
      border: 1px solid black;
      color: black;
      width: 95px;
      height: 22px;
      cursor: pointer;
    }
  }
}
