.upload form {
  display: flex;
  label {
    background-color: rgba(54, 54, 216, 0.865);
    font-size: 18px;
    // border: none;
    color: white;
    border-radius: 20px;
    padding: 9px 18px;
  }
}
