$base-color: #28a22a;
.search_form {
  display: inline;
  input {
    border: 1px solid black;
    border-radius: 6px;
    padding: 9px 12px;
    width: 112px;
    height: 36px;
    margin-right: 10px;
  }

  button {
    border: 1px solid black;
    border-radius: 7px;
    width: 100px;
    height: 36px;
    color: white;
    font-size: 15px;
    background-color: $base-color;
    border: 1px solid $base-color;
    cursor: pointer;
  }

  button:hover {
    background-color: #10a113e2;
  }
}

@media (max-width: 480px) {
  .search_form {
    display: flex;
    margin: 10px 0;
    width: 285px;
    input {
      border-radius: 16px;
      width: 100px;
    }
    button {
      padding: 0 12px;
      border-radius: 16px;
      border: 1px solid $base-color;
      background-color: $base-color;
      color: white;
    }
  }
}
