@font-face {
  font-family: "Monserat-Medium";
  src: url("../../assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Monserat-SemiBold";
  src: url("../../assets/fonts/Montserrat-SemiBold.ttf");
}

$base-color: #28a22a;
.cart_page {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  .cart {
    height: 50%;
    width: 60%;
    display: flex;
    flex-direction: column;
    .header {
      display: flex;
      justify-content: space-between;
      padding: 20px 0 28px;
      border-bottom: 2px solid #a7a7a7;
      a {
        display: flex;
        align-items: center;
        font-family: "Monserat-Medium";
        font-size: 19px;
      }
    }
    h2 {
      font-family: "Monserat-SemiBold";
      margin-top: 20px;
    }
  }
  .clear_cart_button {
    align-self: flex-end;
    margin-top: 34px;
    border: 2px solid white;
    border-radius: 20px;
    width: 143px;
    height: 33px;
    color: white;
    background-color: $base-color;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .order_details {
    margin-top: 118px;
    width: 496px;
    height: 425px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    h2 {
      font-family: "Monserat-Medium";
      font-size: 27px;
      padding: 10px 0;
      font-weight: 500;
    }
    .total {
      margin: 32px 0;
      font-size: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-family: "Monserat-Medium";
      }
      span:nth-child(2) {
        font-weight: 600;
        font-size: 32px;
      }
    }
    form {
      margin-top: 20px;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      input {
        border-radius: 17px;
        width: 443px;
        height: 73px;
        padding: 20px;
        font-size: 18px;
      }
      .order_button {
        border: 2px solid white;
        border-radius: 17px;
        width: 443px;
        height: 73px;
        color: white;
        background-color: $base-color;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 2px;
        margin: 16px 0;
      }
    }
  }
}
