$color: #279b29;

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;

  .nav_left {
    width: 50%;
    display: flex;
    // justify-content: space-between;
    align-items: center;

    img {
      width: 72px;
    }

    button {
      margin-left: 50px;
      background-color: $color;
      border: none;
      color: white;
      width: 129px;
      height: 49px;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1px;
      cursor: pointer;
    }
  }

  .nav_right {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    font-size: 17.5px;
  }
  .icon_container {
    position: relative;
  }
  .count {
    position: absolute;
    right: -5.5px;
    top: -3px;
    background-color: red;
    border-radius: 50%;
    padding: 2px 5px;
    color: white;
    font-size: 8px;
  }

  .login_icons {
    display: flex;
    align-items: center;
    letter-spacing: 1.2px;
  }
}

@media (max-width: 480px) {
  .navigation {
    .nav_left {
      button {
        margin-left: 25px;
        width: 88px;
        height: 33px;
        font-size: 13px;
      }
      img {
        width: 42px;
      }
    }
    .nav_right {
      .hashlink {
        display: none;
      }
    }
  }
}
