.cart_card {
  position: relative;
  display: flex;
  align-items: center;
  padding: 30px 0;
  font-size: 19px;
  border-bottom: 2px solid #a7a7a7;
  img {
    width: 192px;
    border-radius: 10px;
    object-fit: contain;
  }
  .info {
    width: 100%;
    height: 192px;
    padding: 20px 10px 20px 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .title {
    max-width: 290px;
    text-align: center;
  }

  .quantity_buttons {
    width: 140px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    border: 2px solid black;
    border-radius: 11px;
    font-size: 20px;
    cursor: default;
    .button {
      height: 50%;
      cursor: pointer;
    }
  }

  .price {
    font-family: "Monserat-Medium";
    font-size: 20px;
    text-decoration: line-through;
    color: grey;
  }
  .discont_price {
    font-family: "Monserat-Medium";
    font-size: 35px;
    font-weight: 500;
    padding-right: 30px;
  }

  .wishlist_icon {
    opacity: 1;
    position: absolute;
    top: 30px;
    right: 35px;
    z-index: 5;
    color: grey;
    cursor: pointer;
  }
  .delete_icon {
    opacity: 0.4;
    position: absolute;
    top: 30px;
    right: 0px;
    z-index: 5;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .cart_card {
    font-size: 16px;
    padding: 20px 0;
    img {
      width: 65px;
    }
    .info {
      height: 120px;
      padding: 20px 10px 20px 29px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .quantity_buttons {
      width: 80px;
      height: 28px;
      padding: 0 10px;
      border: 1px solid black;
      font-size: 13px;
    }
    .price {
      display: none;
    }
    .discont_price {
      margin-top: 12px;
      font-size: 18px;
    }
    .wishlist_icon {
      top: 30px;
      right: 33px;
    }
    .delete_icon {
      top: 30px;
      right: 0px;
    }
  }
}
