.footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 22px;

  h2,
  h3 {
    letter-spacing: 2px;
  }

  .footer_left {
    width: 400px;
    h2 {
      margin: 10px 0;
    }
  }

  .icons {
    display: flex;
    text-align: center;
    a {
      margin-right: 12px;
      p {
        font-size: 10px;
      }
    }
  }

  .footer_right {
    div {
      margin: 10px 0;
      p {
        letter-spacing: 1.2px;
      }
    }
  }
}
