$base-color: #28a22a;

.edit_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  h2 {
    margin-top: 22px;
    font-size: 34px;
    margin: 16px 0 0;
  }

  .container {
    margin-top: 28px;
    div {
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 19px;
      padding: 16px;
      border-bottom: 1px solid black;
      p {
        width: 180px;
      }
    }
  }
  button {
    font-size: 18px;
    border: none;
    color: white;
    background: $base-color;
    border-radius: 20px;
    padding: 8px 18px;
  }
}

@media (max-width: 1180px) {
  .edit_page {
    h2 {
      font-size: 26px;
    }
    .container {
      margin-top: 22px;
      div {
        font-size: 16px;
        padding: 11px;
        p {
          width: 125px;
        }
        p:first-child {
          width: 65px;
        }
      }
      button {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .edit_page {
    .container {
      div {
        p {
          width: 80px;
        }
        p:first-child {
          width: 40px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .edit_page {
    width: 100%;
    h2 {
      margin-top: 12px;
      font-size: 24px;
    }
    .container {
      div {
        font-size: 14px;
        gap: 0px;
        padding: 10px 0;
        margin: 0;
        p {
          width: 70px;
        }
        p:first-child {
          width: 40px;
        }
      }
      button {
        font-size: 12px;
        padding: 7px 16px;
      }
    }
  }
}
