* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgb(241, 239, 239);
}

#root {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
}
