$base-color: #28a22a;
$hover-color: #30b532;

.modal {
  position: fixed;
  pointer-events: none; 
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.44);

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.modal_content {
  pointer-events: all; 
  margin-top: -70px;
  background-color: white;
  border-radius: 20px;
  padding: 18px;
  position: relative;
  min-width: 580px;
  min-height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
}
.login,
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  background-color: #fff;
  background-color: transparent;
  .login_info {
    font-size: 25px;
    letter-spacing: 1.3px;
    padding-bottom: 20px;
    span {
    font-size: 26px;
    font-weight: 600;
    }
  }
}
.field {
  display: flex;
  width: 435px;
  // justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin: 7px;
  color: rgb(5, 5, 5);
  font-size: 19px;
  font-family: "Cardo", serif;
  font-family: "Charter", serif;
  letter-spacing: 2px;
}

.login_buttons {
  button {
    width: 142px;
    height: 46px;
    margin: 12px;
    font-size: 18px;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    background-color: $base-color;
    border-radius: 20px;
    border: 0;
    transition-duration: 0.4s;
    &:hover {
      background-color: $hover-color;
      color: white;
    }
  }
}
.field input {
  padding-left: 22px;
  font-size: 22px;
  font-family: "Cormorant", serif;
  width: 72%;
  height: 48px;
  border-radius: 20px;
  border: 1px solid grey;
}

p.switch {
  margin-top: 15px;
  font-size: 18.5px;
  // font-family: "Charter", serif;
  letter-spacing: 1.6px;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}
@media (max-width: 768px) {
  .login,
  .signup {
    .field {
      display: flex;
      width: 90%;
      input {
        font-size: 18px;
        width: 100%;
        height: 34px;
      }
    }
  }
}
